.login-area{
    padding-top: 200px;
}

.login-box{
    text-align: center;
}
.login-box p{}

.customAuth {
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
}
.customAuth .form-group{
    margin-bottom: 20px;
}
.customAuth input[type=text],.customAuth input[type=email] ,.customAuth input[type=password]{
    border:none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    border-radius:0;
    padding:0;
    transition:500ms;
} 
.form-control:focus,.form-control:hover
{
    box-shadow: none;
    border-bottom: 1px solid tomato i !important;
    padding-left: 10px;
}
.signing {
    background-color: tomato;
    display: block;
    width: 100%;
    border: none;
    margin: 30px auto 5px;
    padding: 10px;
}

.form-buttons-area p span{
    cursor:pointer;
    color:tomato;
    font-weight: bold;
}

.customAuth h2 {
    text-align: left;
    font-size: 20px;
    margin: 0 0 30px;
}
.customAuth form{}
.customAuth input{}

.socialAuth{}

.socialAuth button{
    display: block;
    margin: 5px auto;
    width: 250px;
    border-radius: 40px;
}
.socialAuth .fb{}
.socialAuth .google{}

.remember-me{
    margin-bottom: 50px;
}
.remember-me a{
    color:tomato;
    text-decoration: underline;

}