header{
    width: 100%;
    background-image: linear-gradient(red, tomato);
    z-index:999
}

.navbar-brand a{
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.navbar-nav a{
    color:black !important;
}

@media (max-width: 767.98px) {
    .navbar-nav{
        background-color: whitesmoke;
        padding:10px;
        border-radius:10px;
    }
    header{
        padding:10px 0;
        background-color:rgba(254,254,254,0.7);
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }

    
}

